 body {
background-color: aqua;
}
.nav > li{
    float:left;
}

.tipo {
    margin: auto;
    width: 700px;
}

*{
    padding: 1px;
    margin: 1px;
}
ul,ol {
    list-style: none;
}
.nav li a{
    background-color: rgb(12, 247, 4);
    color: #5108ef;
    text-decoration: none;
    padding: 10px 20px;
    display:block;
}
.tipo{
    background-color: rgb(46, 9, 230);
    padding: 20px;
    border-radius: 20px;
   border: solid #08f61b;
   border-width: 5px;
   color: #f7fbff;
   font-size: 30px;
   text-align: center; 
}
.nav li a:hover{
    background-color: rgb(231, 114, 98);
}
p {
    text-align: justify;
}
.franja{
    background-color: #ff030f;
}